:root {
	--post-image-over-gradient: linear-gradient(to top, hsl(0, 0%, 0%, 90%), transparent);
}

.App {
	background-color: hsl(260, 7%, 10%);
	color: white;
	max-height: 100vh;
	box-sizing: border-box;
	display: grid;
	gap	: 0.5rem;
	grid-template-areas: "main main";
	grid-template-columns: auto 40vw;
	overflow: hidden;
	position: relative;

	.main-area {
		display: flex;
		flex-direction: column;
		background-color: hsl(260, 7%, 15%);
		padding: 1.5rem;
		gap	: 2rem;
		grid-area: main;
		height: 100vh;
		box-sizing: border-box;
		overflow: auto;
		container: main-area / inline-size;
		position: unset;
	}

	.view-post {
		display: flex;
		flex-direction: column;
		position: absolute;
		inset: 0;
		height: 100vh;
		background-color: hsl(260, 7%, 17%);
		user-select: none;
		overflow: hidden;
		box-sizing: border-box;

		.drag-region {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 20%;
			z-index: 2;
		}
		
		.title {
			display: flex;
			font-size: 1.5rem;
			gap: 0.5rem;
			padding: 6rem 1rem 1rem 1rem;
			background-size: cover;
			background-position: center;
			position: relative;

			.close-button {
				position: absolute;
				top: 1rem;
				right: 1rem;
				display: grid;
				place-items: center;
				font-size: 1.5rem;
				height: 1.5rem;
				aspect-ratio: 1;
				background-color: transparent;
				transition: background-color 0.1s ease;
				cursor: pointer;

				&:hover,
				&:focus-visible {
					background-color: hsl(0, 0, 0%, 50%);
					border-radius: 0.25rem;
				}

				&:focus-visible {
					outline: hsl(141, 78%, 25%) 2px solid;
				}
			}

			.map-name {
				font-size: 0.75rem;
				position: absolute;
				left: 1rem;
				top: 1rem;
				background-color: hsl(0, 0%, 0%);
				padding: 0.25rem 0.5rem;
				border-radius: 0.25rem;
			}
		}

		
		.content-grid{
			display: grid;
			padding: 1rem;
			gap: 1rem;
			height: 100%;
			overflow: scroll;
			grid-auto-rows: max-content;
			
			.tags-container {
				display: flex;
				gap: 0.25rem;
				height: fit-content;
			}

			.image-grid {
				display: grid;
				place-items: center;
				grid-template-columns: repeat( 6, calc(100%/6 - 0.5rem));
				grid-template-rows: repeat( 6, calc(100%/6 - 0.5rem));
				width: 100%;
				aspect-ratio: 16/9;
				gap: 0.5rem;

				.image {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: center;
					border-radius: 0.5rem;
					cursor: pointer;
				}
			}

			.post-buttons {
				display: flex;
				align-items: center;
				justify-content: end;
			}
		}
	}

	@media screen and (min-width: 600px) {
		& {			
			.main-area {
				gap: 1rem;
				border-radius: 0 0.5rem 0.5rem 0;
			}

			.view-post {
				display: none;
				position: relative;
				transition: none;
				transform: translateX(0);
				border-radius: 0.5rem 0 0 0.5rem;

				.title {
					border-radius: 0.5rem 0 0 0;
				}
			}

			&.viewing-post {
				grid-template-areas: "main viewPost";

				.view-post {
					display: flex;
					grid-area: viewPost;
				}
			}
		}
	}
}

.map-selector {
	width: 100%;
	min-width: fit-content;
	background: hsl(260, 7%, 5%);
	border: none;
	color: white;
	height: 100%;
	border-radius: 100vh;
	font-size: 1rem;
	padding: 0.25rem 0.75rem;
	appearance: none;

	&:hover,
	&:focus-visible {
		outline: hsl(141, 78%, 25%) 1px solid;
		outline-offset: -1px;
	}
	

	&:active, &:focus-within {
		background: hsl(260, 7%, 5%);
		outline: hsl(141, 78%, 25%) 2px solid;
		outline-offset: -2px;
	}
}

.searchbar {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: min-content auto min-content;
	gap: 0.5rem;
	align-items: center;
	padding: 0.5rem;
	border-radius: 0.75rem;
	background-color: hsl(260, 7%, 10%);
	font-size: 1rem;

	.dynamic-icon {
		padding: 0.25rem;
		aspect-ratio: 1;
	}

	.clear-search-icon {
		aspect-ratio: 1;
	}
	
	input, .input {
		font-size: 1rem;
		resize: none;
		background: none;
		outline: none;
		border: none;
		color: white;
		width: 100%;
	}
	
	button {
		display: none;
		width: max-content;
		padding: 0.5rem 1rem;
		font-size: 0.875rem;
		color: white;
		background-color: hsl(141, 78%, 25%);
		border: none;
		border-radius: 100vh;
		outline-offset: -1px;
		cursor: pointer;

		&:hover, &:focus-visible {
			background-color: hsl(141, 78%, 30%);
			outline: hsl(141, 42%, 44%) 2px solid;
		}
		
		&:active {
			background-color: hsl(141, 78%, 20%);
			outline: hsl(141, 42%, 39%) 2px solid;
		}

		&:disabled {
			background-color: hsl(141, 20%, 25%);
			color: hsl(0, 0%, 100%, 20%);
		}
	}

	@media screen and (min-width: 600px) {
		& {
			grid-template-columns: min-content auto min-content min-content;

			button {
				display: block
			}
		}
	}

	&.new-post {
		display: grid;
		grid-template-columns: unset;
		grid-auto-flow: unset;

		.content-input {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-areas: "icon title" "none message";
			column-gap: 0.5rem;
		
			.dynamic-icon {
				grid-area: icon;
				font-size: 1.25rem;
				padding: 0;
				cursor: pointer;
			}

			input, .input {
				&.title {
					grid-area: title;
					&, &::placeholder {
						font-size: 1.25rem;
						font-weight: 500;
					}
				}
	
				&.message{
					grid-area: message;
					font-family: inherit;

					&, &::placeholder {
						font-weight: 300;
					}
	
					&::placeholder {
						color:hsl(0, 0%, 100%, 50%);
					}
				}
			}
		}
		
		.categorisation {
			display: flex;
			gap: 1em;
			border-radius: 0 0 0.5rem 0.5rem;
			overflow: scroll;
			
			.section {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				flex: 1 1 0;
				overflow: hidden;
				
				.section-name, 
				.section-content {
					display: flex;
					gap: 0.5rem;
					align-items: center;
				}

				.section-content {
					flex: 1 1 0;
					overflow: scroll;
				}
			}
		}

		.upload-input {

			.upload-button {
				--background-color: hsl(260, 7%, 15%);
				display: grid;
				place-items: center;
				aspect-ratio: 1;
				width: 100%;
				position: relative;
				border-radius: 1rem;
				outline: hsl(260, 7%, 15%) 4px solid;
				outline-offset: -3px;
				overflow: hidden;
				background-color: var(--background-color);
				cursor: pointer;

				&:hover {
					--background-color: hsl(260, 7%, 12%);
				}

				.upload-button-icon {
					font-size: 1.25rem;
				}

				.upload-button-plus {
					position: absolute;
					background-color: var(--background-color);
					border-radius: 100%;
					aspect-ratio: 1;
					padding: 0.25rem;
					left: 50%;
					bottom: 50%;
					font-size: 0.75rem;
				}
			}

			.image-grid {
				display: grid;
				gap: 1rem;
				padding-inline: 0.5rem;
				grid-template-columns: repeat(auto-fill, clamp(10%, 10vw, 10rem));
				
				.image {
					width: 100%;
					aspect-ratio: 1;
					background-position: center;
					background-size: cover;
					border-radius: 1rem;
					outline: hsl(260, 7%, 15%) 4px solid;
					outline-offset: -3px;
					position: relative;
					isolation: isolate;
					display: grid;
					place-items: center;

					.cover-icon {
						z-index: 1;
						display: grid;
						place-items: center;
						position: absolute;
						left: 0;
						top: 0;
						font-size: 1.25rem;
						height: 1.25rem;
						aspect-ratio: 1;

						&::before {
							content: "Set as cover image";
							position: absolute;
							bottom: 120%;
							width: max-content;
							padding: 0.25rem 0.5rem;
							border-radius: 0.5rem;
							font-size: 0.75rem;
							background-color: black;
							display: none;
						}

						&:hover::before {
							display: block;
						}
					}

					.delete-button {
						display: none;
						position: absolute;
						right: 6px;
						bottom: 6px;
						padding: 0.5rem;
						font-size: 0.75rem;
						background-color: hsl(260, 7%, 15%);
						aspect-ratio: 1;
						border-radius: 0.5rem;
						transition: background-color 0.2s ease;
						cursor: pointer;

						&:hover {
							background-color: hsl(0, 60%, 50%);
							outline: hsl(0, 0%, 100%, 20%) 2px solid;
							outline-offset: -1px;
						}
					}

					&:hover {
						.delete-button {
							display: block;
						}
					}

				}
			}
		}

		.form-buttons {
			display: flex;
			justify-content: end;
			border-top: hsl(0, 0%, 100%, 20%) 1px solid;
			padding-top: 0.5rem;
		}
	}
}

.sorting-bar {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	gap: 0.5rem;
	background-color: hsl(260, 6%, 10%);
	border-radius: 0.5rem;
	padding: 0.5rem;

	.seperator {
		margin-block: 0.5rem;
		background: hsl(260, 7%, 5%);
		border-radius: 100vh;
		display: none;
	}

	.section {
		display: grid;
		align-items: center;
		grid-column: 1 / 3;
		gap: 0.5rem;
		
		@supports (grid-template-columns: subgrid) {
			gap: 1rem;
			grid-template-columns: subgrid;
		}

		.section-name,
		.section-content {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.section-content {
			overflow: scroll;
		}

		&::-webkit-scrollbar {
			height: 0;
		}
	}

	&.floating {
		display: none;
	}

	@media screen and (min-width: 600px) {
		&.floating	 {
			position: absolute;
			inset: auto 1.5rem 1rem;
			z-index: 1;
			display: flex;
			gap: 1rem;
			align-items: center;
			height: 2rem;
			padding: 0.5rem;

			& ~ .main-area {
				padding-bottom: calc(2rem + (1rem * 2) + (0.5rem * 2));
			}
			
			& ~ .view-post {
				.content-grid {
					padding-bottom: calc(2rem + (1rem * 2) + (0.5rem * 3));
				}
			}

			.section {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				flex: 1 1 0;
				height: 100%;
				overflow: hidden;
				
				.section-name, 
				.section-content {
					display: flex;
					gap: 0.5rem;
					align-items: center;
				}

				.section-content {
					flex: 1 1 0;
					overflow: scroll;
				}
			}
		}
	}
}

.tag {
	--content-size: calc(0.8 * 1rem);
	
	display: flex;
	gap: 0.25rem;
	width: max-content;
	height: fit-content;
	padding: 0.5rem 0.75rem;
	border-radius: 100vh;
	background-color: hsl(0, 0%, 0%, 50%);
	font-size: var(--content-size);
	line-height: calc(var(--content-size) + 2px);
	font-weight: bold;
	align-items: center;
	user-select: none;
	white-space: nowrap;
	
	&.small {
		background-color: hsl(0, 0%, 0%, 40%);
		--content-size: calc(0.8 * 1rem);
		padding: 0.25rem 0.5rem;
	}

	&.selectable {
		cursor: pointer;
		
		&:hover,
		&:focus-visible {
			background: hsl(0, 0%, 30%, 10%);
		}
		
		&:focus-visible {
			outline: hsl(141, 78%, 25%) 1px solid;
			outline-offset: -1px;
		}

		&.selected {
			outline: hsl(141, 78%, 25%) 2px solid;
			outline-offset: -2px;
		}
	}

	.icon {
		height: 100%;
		aspect-ratio: 1;
		height: calc(var(--content-size) + 2px);
	}
}

.post-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
	
	@container main-area (min-width: 600px) {
		gap: 1rem;
		& {grid-template-columns: repeat(2, 1fr);}
	}
	
	@container main-area (min-width: 900px) {
		& {grid-template-columns: repeat(3, 1fr);}
	}

	.card-post {
		display: grid;
		gap: 0.5rem;
		position: relative;
		background-color: hsl(260, 7%, 10%);
		border-radius: 0.75rem;
		outline: hsl(0, 0%, 100%, 0%) 2px solid;
		outline-offset: 1px;
		cursor: pointer;
		user-select: none;
		overflow: hidden;
		transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
		--post-image-over-gradient: linear-gradient(to top, hsl(260, 7%, 10%), transparent);

		&:hover, &:focus-visible, &.selected {
			transform: translateY(-4px);
			box-shadow: 0 0.5rem 1rem hsl(0, 0%, 0%, 0.24);
		}

		&:focus-visible {
			outline-color: hsl(141, 78%, 25%);
		}
		
		&.selected {
			outline-color: hsl(141, 78%, 25%);
			outline-width: 2px;
		}
	
		.card-title {
			display: flex;
			position: relative;
			padding: 3rem 0.75rem 1rem;
			background-size: cover;
			background-position: center;
			overflow: hidden;
			
			h3 {
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: "";
			}
			
			h3, .map-name {
				font-size: 1.25rem;
				line-height: 1.25rem;
				font-weight: 500;
			}
	
			.map-name {
				border-radius: 0.25rem;

				&::after {
					content: "|";
					margin-inline: 0.5rem;
				}
			}
		}

		.card-description {
			padding: 0 0.75rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.card-content {
			background-position: center;
			background-size: cover;
			height: 15rem;
			position: relative;
			margin: 0 0.5rem 0.5rem;
			border-radius: 0.5rem;

			.post-details {
				position: absolute;
				inset: 0.5rem;
				display: flex;
				justify-content: end;
		
				.tags-container {
					display: flex;
					flex-wrap: wrap;
					position: absolute;
					left: 0;
					gap: 0.25rem;
				}
				
				.images-overflow {
					position: absolute;
					bottom: 0;
					width: fit-content;
					background-color: hsl(0, 0%, 0%, 40%);
					font-size: 0.75rem;
					padding: 0 0.25rem;
					border-radius: 0.25rem;
					font-weight: bold;
					
				}
			}
		}
	}

	.fetching-message {
		grid-column: span 3;
		text-align: center;
		font-size: 1.5rem;
	}
}