body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, textarea {
  font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  width: 0.1em;
  background: hsl(141, 7%, 10%, 100%);
  border: hsl(141, 7%, 15%) 2px solid;
  border-radius: 100vh;
}
