 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
